Screen {
    background: #172227;
    color: #eeffff;
}

GridInformation {
    width: auto;
    margin: 1 0 0 0;
}

GridDisplay {
    width: 1fr;
    height: 1fr;
    margin: 1 0;
}

Button {
    margin: 0 5;
}

Horizontal {
    height: auto;
    align: center middle;
}
