Screen {
    background: #172227;
    color: #eeffff;
}

GridInformation {
    width: auto;
    margin: 1 0 0 0;
}

GridDisplay {
    width: 1fr;
    height: 1fr;
    margin: 1 0;
}

Button {
    width: auto;
    margin: 0 5;
    
    &:focus {
        background: $panel-darken-1;
        text-style: bold;
    }
}

Horizontal {
    width: 100%;
    height: auto;
    align: center middle;
}

#stop {
    display: none;
}

.playing #play {
    display: none;
}

.playing #stop {
    display: block;
}
